<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appLaunchMode</key>
	<string>study</string>
	<key>firebaseConfig</key>
	<dict>
		<key>API_KEY</key>
		<string>A00000000000000000000000000000000000000</string>
		<key>BUNDLE_ID</key>
		<string>edu.stanford.bdhg.llmonfhir</string>
		<key>GCM_SENDER_ID</key>
		<string>GCM_SENDER_ID</string>
		<key>GOOGLE_APP_ID</key>
		<string>1:123456789012:ios:1234567890123456789012</string>
		<key>IS_ADS_ENABLED</key>
		<false/>
		<key>IS_ANALYTICS_ENABLED</key>
		<false/>
		<key>IS_APPINVITE_ENABLED</key>
		<true/>
		<key>IS_GCM_ENABLED</key>
		<true/>
		<key>IS_SIGNIN_ENABLED</key>
		<true/>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>PROJECT_ID</key>
		<string>som-rit-phi-lit-ai-dev</string>
		<key>STORAGE_BUCKET</key>
		<string>som-rit-phi-lit-ai-dev.firebasestorage.app</string>
	</dict>
	<key>studyConfigs</key>
	<dict>
		<key>edu.stanford.LLMonFHIR.gynStudy</key>
		<dict>
			<key>openAIAPIKey</key>
			<string></string>
			<key>openAIEndpoint</key>
			<string>regular</string>
			<key>reportEmail</key>
			<string></string>
			<key>settingsUnlockCode</key>
			<string></string>
		</dict>
		<key>edu.stanford.LLMonFHIR.spineAI</key>
		<dict>
			<key>openAIAPIKey</key>
			<string></string>
			<key>openAIEndpoint</key>
			<string>regular</string>
			<key>reportEmail</key>
			<string></string>
			<key>settingsUnlockCode</key>
			<string></string>
		</dict>
		<key>edu.stanford.LLMonFHIR.usabilityStudy</key>
		<dict>
			<key>openAIAPIKey</key>
			<string></string>
			<key>openAIEndpoint</key>
			<string>regular</string>
			<key>reportEmail</key>
			<string></string>
			<key>settingsUnlockCode</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
