<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appLaunchMode</key>
	<string>standalone</string>
	<key>firebaseConfig</key>
	<dict>
		<key>API_KEY</key>
		<string>A00000000000000000000000000000000000000</string>
		<key>GCM_SENDER_ID</key>
		<string>GCM_SENDER_ID</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>edu.stanford.bdhg.llmonfhir</string>
		<key>PROJECT_ID</key>
		<string>som-rit-phi-lit-ai-dev</string>
		<key>STORAGE_BUCKET</key>
		<string>som-rit-phi-lit-ai-dev.firebasestorage.app</string>
		<key>IS_ADS_ENABLED</key>
		<false/>
		<key>IS_ANALYTICS_ENABLED</key>
		<false/>
		<key>IS_APPINVITE_ENABLED</key>
		<true/>
		<key>IS_GCM_ENABLED</key>
		<true/>
		<key>IS_SIGNIN_ENABLED</key>
		<true/>
		<key>GOOGLE_APP_ID</key>
		<string>1:123456789012:ios:1234567890123456789012</string>
	</dict>
	<key>studies</key>
	<array>
		<dict>
			<key>explainer</key>
			<string>During this study, you’ll complete a survey about your experiences navigating the healthcare system and have the opportunity to ask the chat questions about your health.</string>
			<key>id</key>
			<string>edu.stanford.LLMonFHIR.usabilityStudy</string>
			<key>openai_api_key</key>
			<string></string>
			<key>openai_endpoint</key>
			<string>firebase-function:chat</string>
			<key>encryption_key</key>
			<data></data>
			<key>report_email</key>
			<string>digitalhealthresearch@stanford.edu</string>
			<key>title</key>
			<string>LLMonFHIR User Study</string>
			<key>prompt_summarize_single_resource</key>
			<string>Your task is to create a title and compact summary for an FHIR resource from the user&apos;s clinical record. You should provide the title and summary in the following locale: {{LOCALE}}.

Your response should contain two lines without headings, markdown formatting, or any other structure beyond two lines. Directly provide the content without any additional structure or an introduction. Another computer program will parse the output.

1. Line: A 1-5 Word summary of the FHIR resource that immediately identifies the resource and provides the essential information at a glance. Do NOT use a complete sentence; instead, use a formatting typically used for titles in computer systems.

2. Line: Provide a short summary of the resource that contains all relevant information in a compact format. Ensure that the summary focuses on the essential information that a patient would need. It should, e.g., exclude the person who prescribed a medication or similar metadata that might not be relevant for a patient. Ensure that all clinically relevant data is included and the summary does not exclude any relevant data.

The following JSON representation defines the FHIR resource that you should provide a title and summary for:

{{FHIR_RESOURCE}}</string>
			<key>prompt_interpret_multiple_resources</key>
			<string>You are the LLMonFHIR agent tasked with helping users understand their current health, recent procedures and conditions, and any questions they have while accessing their FHIR health records for additional context.

You should directly communicate with the user and use the information from the health records to add context to the user&apos;s questions and conversation.

Throughout the conversation with the user, you MUST use the &quot;get_resources&quot; tool call to obtain the FHIR health resources necessary to answer the user&apos;s question correctly. For example, if the user asks about their allergies, you must use the &quot;get_resources&quot; tool call to output the FHIR resource titles for allergy records so you can then use them to answer the question. Use the &apos;get_resources&apos; tool to get relevant health data, but focus on clear, simple explanations for the user. Leave out any technical details like JSON, FHIR resources, and other implementation details of the underlying data resources.
Use this information to determine the best possible FHIR resource for each question. Try to keep the equested resources to a reasonable minimum to answer the user questions or to fulfill your task.
For example, if the user asks about their recent hospital visits, it would be recommended to request all recent DocumentReference and DiagnosticReport FHIR resources to obtain the relevant clinical notes, discharge reports, diagnostic reports, and other related FHIR resources.

Interpret the resources by explaining the data relevant to the user&apos;s health. Please do NOT mention any medications unless the user explicitly asks about medications.
Try to be proactive and query for more information if you are missing any context instead of asking the user for specific information. Try to avoid too many follow-up questions.

There is a special emphasis on documents such as clinical notes, progress reports, and, most importantly, discharge reports that you should focus on. Try to request all recent documents as soon as possible to get an overview of the patient and their current health condition. 
Use simple language. Keep responses in the user&apos;s language and the present tense.

Ensure to leave out sensitive numbers like SSN, passport number, and telephone number.

Explain the relevant medical context in a language understandable by a user who is not a medical professional and aim to respond to the user at a 5th-grade reading level.  When possible, use words with 1 or 2 syllables. When feasible, use less than 11 words per sentence. Keep responses clear and easy to read. Use non-technical language. Do not compromise the quality or accuracy of the information. You MUST provide factual and precise information in a compact summary in short responses.

Write like you are talking to a friend. Be kind and acknowledge the complexity of the user&apos;s experience. Use common, simple language. For example:
1. Instead of Cyanosis, say Blue skin
2. Instead of Ischemia, say Lack of blood flow
3. Instead of Metabolic syndrome, say Health problems linked to weight and sugar levels
4. Instead of Immunocompromised, say Weak immune system
5. Instead of Autoimmune disease, say the Immune system attacking the Body
6. Instead of Cerebrovascular accident (CVA), say Stroke
7. Instead of Neuropathy, say Nerve damage
8. Instead of Cognitive impairment, say Memory or thinking problems
9. Instead of Tinnitus, say Ringing in the ears
10. Instead of Osteoporosis, say Weak bones
11. Instead of Ligament tear, say Torn tissue in a joint
12. Instead of Chronic obstructive pulmonary disease (COPD), say Lung disease that makes breathing hard
13. Instead of Pulmonary embolism, say Blood clot in the lung
14. Instead of Aspiration, say Breathing in food or liquid by mistake
15. Instead of Malignant tumor, say Cancer
16. Instead of Benign tumor, say Non-cancerous lump
17. Instead of Lesion, say Wound or sore
18. Instead of Abscess, say Pocket of pus
19. Instead of Aneurysm, say Bulging blood vessel
20. Instead of Aphasia, say Trouble speaking or understanding words
21. Instead of Atrophy, say Muscle shrinkage
22. Instead of Biopsy, say Tissue test
23. Instead of Cataract, say Cloudy eye lens
24. Instead of Cellulitis, say Skin infection
25. Instead of Cholecystitis, say Gallbladder infection
26. Instead of Cirrhosis, say Liver damage
27. Instead of Deep vein thrombosis (DVT), say Blood clot in a deep vein
28. Instead of Dementia, say Memory loss disease
29. Instead of Dysmenorrhea, say Painful periods
30. Instead of Eczema, say Itchy skin rash
31. Instead of Embolism, say Blocked blood vessel
32. Instead of Encephalitis, say Brain swelling
33. Instead of Epistaxis, say Nosebleed
34. Instead of Fibromyalgia, say Long-term muscle pain
35. Instead of Glaucoma, say Eye disease that damages the vision
36. Instead of Hemoptysis, say Coughing up blood
37. Instead of Hernia, say Bulging tissue through a weak spot
38. Instead of Insulin resistance, say Body not using sugar well
39. Instead of Lymphedema, say Swelling due to fluid buildup
40. Instead of Meningitis, say Brain and spine infection
41. Instead of Metastasis, say Cancer spreading
42. Instead of Neoplasm, say New lump or growth
43. Instead of Neuroma, say Nerve tumor
44. Instead of Ophthalmology, say Eye doctor&apos;s specialty
45. Instead of Orthopnea, say Trouble breathing when lying down
46. Instead of Pericarditis, say Swelling around the heart
47. Instead of Photophobia, say Eye sensitivity to light
48. Instead of Pleurisy, say Lung lining swelling
49. Instead of Septicemia, say Serious blood infection
50. Instead of Strabismus, say Crossed eyes

Do not introduce yourself at the beginning, and immediately return a summary of the user based on the FHIR patient resources. 
Start with an initial compact summary of their health information based on recent encounters, document references (clinical notes, discharge summaries), and any other relevant information you can access. Use the available tool calls to get all the relevant information you need to get started.
The initial compact summary should be compact (no bullet points but rather a holistic summary of all the information), empathetic to the user about their current health situation, and less than four sentences long.
Add a new paragraph after the initial summary and ask the user if they have any questions or where you can help them.</string>
			<key>tasks</key>
			<array>
				<dict>
					<key>assistantMessagesLimit</key>
					<string>1;5</string>
					<key>id</key>
					<string>Welcome</string>
					<key>instructions</key>
					<string>LLMonFHIR app will have a health summary automatically generated on the home screen. Please review this before answering any questions.</string>
					<key>questions</key>
					<array>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>How clear and understandable was the summary provided by the app?</string>
							<key>type</key>
							<string>scale(&lt;clarityScale&gt;)</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>assistantMessagesLimit</key>
					<string>1;5</string>
					<key>id</key>
					<string>2</string>
					<key>instructions</key>
					<string>Ask a clarifying question about the most recent diagnosis from your last medical visit.</string>
					<key>questions</key>
					<array>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>How effective is this feature for interpreting and evaluating your medical information?</string>
							<key>type</key>
							<string>scale(&lt;effectivenessScale&gt;)</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>assistantMessagesLimit</key>
					<string>1;5</string>
					<key>id</key>
					<string>3</string>
					<key>instructions</key>
					<string>Ask the app for a personalized health recommendation. Feel free to ask about any health concerns.</string>
					<key>questions</key>
					<array>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>How effective are these recommendations in helping you make decisions about your health?</string>
							<key>type</key>
							<string>scale(&lt;effectivenessScale&gt;)</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>assistantMessagesLimit</key>
					<string>1;5</string>
					<key>id</key>
					<string>4</string>
					<key>instructions</key>
					<string>Before we end our session, feel free to ask the app any medical questions you might have related to your health.</string>
					<key>questions</key>
					<array>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<true/>
							<key>text</key>
							<string>How effective was the LLM in helping to answer your health question?</string>
							<key>type</key>
							<string>scale(&lt;effectivenessScale&gt;)</string>
						</dict>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<true/>
							<key>text</key>
							<string>What surprised you about the LLM&apos;s answer, either positively or negatively?</string>
							<key>type</key>
							<string>text</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>5</string>
					<key>instructions</key>
					<string>Please feel free to ask any other questions you have. When you&apos;re done, please complete the next task.</string>
					<key>questions</key>
					<array>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>Compared to other sources of health information (e.g., websites, doctors), how do you rate the LLM&apos;s responses?</string>
							<key>type</key>
							<string>scale(&lt;comparisonScale&gt;)</string>
						</dict>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<true/>
							<key>text</key>
							<string>What were the most and least useful features of the LLM? Do you have any suggestions to share?</string>
							<key>type</key>
							<string>text</string>
						</dict>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<true/>
							<key>text</key>
							<string>How has the LLM impacted your ability to manage your health?</string>
							<key>type</key>
							<string>text</string>
						</dict>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>On a scale of 0-10, how likely are you to recommend this tool to a friend or colleague?</string>
							<key>type</key>
							<string>NPS(0;10)</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>6</string>
					<key>instructions</key>
					<string>Please hit the arrow at the top of your screen to complete the final task.</string>
					<key>questions</key>
					<array>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>How easy would it be to access or obtain information about your medical condition?</string>
							<key>type</key>
							<string>scale(&lt;balancedEaseScale&gt;)</string>
						</dict>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>How frequently do you anticipate having problems learning about your medical condition because of difficulty understanding written information?</string>
							<key>type</key>
							<string>scale(&lt;frequencyOptions&gt;)</string>
						</dict>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>How confident would you be in filling out medical forms by yourself?</string>
							<key>type</key>
							<string>scale(&lt;confidentnessScale&gt;)</string>
						</dict>
						<dict>
							<key>answer</key>
							<string>unanswered</string>
							<key>isOptional</key>
							<false/>
							<key>text</key>
							<string>How often do you think you would have someone help you read hospital materials?</string>
							<key>type</key>
							<string>scale(&lt;frequencyOptions&gt;)</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
