#
# This source file is part of the Stanford LLM on FHIR project
#
# SPDX-FileCopyrightText: 2023 Stanford University
#
# SPDX-License-Identifier: MIT
#

name: Build and Test

on:
  pull_request:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: Build-and-Test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  app_tests:
    name: Build and Test (App)
    uses: StanfordBDHG/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    permissions:
      contents: read
    with:
      artifactname: LLMonFHIR.xcresult
      runsonlabels: '["macOS", "self-hosted"]'
      fastlanelane: test
  shared_spm_pkg_tests:
    name: Build and Test (Shared)
    uses: StanfordBDHG/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    with:
      path: LLMonFHIRShared
      runsonlabels: '["macOS", "self-hosted"]'
      scheme: LLMonFHIRShared-Package
      resultBundle: LLMonFHIRShared-UnitTests.xcresult
      artifactname: LLMonFHIRShared-UnitTests.xcresult
  uploadcoveragereport:
    name: Upload Coverage Report
    needs: [app_tests, shared_spm_pkg_tests]
    uses: StanfordBDHG/.github/.github/workflows/create-and-upload-coverage-report.yml@v2
    permissions:
      contents: read
    with:
      coveragereports: LLMonFHIR.xcresult LLMonFHIRShared-UnitTests.xcresult
    secrets:
      token: ${{ secrets.CODECOV_TOKEN }}
